{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<article class="{{post_class}}">

    {{#post}}
    <header class="tag-archive-header">
        <h3><span class="tag-archive-header-name">All Tags</span></h3>

    </header>

        <section class="post-content">
           {{tag_cloud limit="all"}} 
        </section>

        <footer class="post-footer">
            {{! Everything inside the #author tags pulls data from the author }}
            {{#author}}

                {{#if image}}
                <figure class="author-image">
                    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
                {{/if}}

                <section class="author">
                    <h4><a href="{{url}}">{{name}}</a></h4>

                    {{#if bio}}
                        <p>{{bio}}</p>
                    {{else}}
                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                    {{/if}}
                    <div class="author-meta">
                        {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                        {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                    </div>
                </section>

            {{/author}}

        </footer>
    {{/post}}
</article>
